body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background: #fafaf3;
}

/* resolução MENOR que 512 */
@media screen and (max-width: 512px) {
  .titulo {
    width: 300px;
    margin: 20px auto;
    text-shadow: 0 0 10px rgb(234, 122, 244, 0.3);
  }

  header h1 {
    font-size: 40.5px;
    font-weight: 900;
    color: #7a1fa1;
  }

  .subtitulo {
    font-size: 1.2rem;
    text-align: right;
    margin: 5px 5px 0;
    color: #7a1fa1;
    font-weight: 400;
  }

  .messagesBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .msgInBox,
  .msgOutBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 10px auto;
  }

  .msgInTitle {
    display: block;
    color: #7a1fa1;
    text-align: center;
    margin: 15px auto 10px;
    font-size: 28px;
    font-weight: 400;
  }

  #msgIn,
  #msgOut {
    resize: none;
    border-radius: 20px;
    border: none;
    outline: none;
    outline: pink;
    padding: 20px;
    width: 85%;
    height: 20vh;
    font-size: 35px;
    color: #7a1fa1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #msgOut {
    display: none;
  }

  .noMsg {
    border-radius: 20px;
    padding: 20px;
    width: 85%;
    height: 20vh;
    font-size: 35px;
    color: #7a1fa1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .noMsg img {
    display: none;
    width: 21vw;
    margin: 2vw auto;
  }

  .noMsgTitle {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin: 2vw 0;
  }

  .noMsgTxt {
    text-align: center;
    font-size: 21px;
  }

  .buttonsIn {
    flex-direction: column;
    margin: 10px 0;
    width: 300px;
  }

  .buttonBox {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
    gap: 10px;
  }

  .buttonsIn p {
    font-size: 15px;
    text-align: center;
    color: #7a1fa1;
  }

  .encode,
  .decode,
  .copy,
  .clear {
    border: none;
    background-color: #7a1fa1;
    color: #fafaf3;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    width: 120px;
    height: 50px;
    transition: 1s all;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .buttonsOut {
    flex-direction: column;
    margin: 10px 0;
    width: 300px;
  }

  .buttonBoxCopy {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
    gap: 10px;
  }

  .copy:hover,
  .encode:hover,
  .decode:hover,
  .clear:hover {
    background-color: #ea7af4;
  }

  .buttonBoxCopy .copyTxt {
    font-size: 14px;
    font-weight: 100;
    visibility: hidden;
    width: 140px;
    background-color: #7a1fa1;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .buttonBoxCopy .copyTxt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #7a1fa1 transparent transparent transparent;
  }

  .buttonBoxCopy:hover .copyTxt {
    visibility: visible;
    opacity: 1;
  }

  footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    color: #7a1fa1;
  }

  .logosFooter {
    height: 25px;
    width: 25px;
  }
}
/* resolução entre 512 e 1024 */
@media screen and (min-width: 512px) and (max-width: 1024px) {
  .titulo {
    width: 460px;
    margin: 20px auto;
    text-shadow: 0 0 10px rgb(234, 122, 244, 0.3);
  }

  header h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    color: #7a1fa1;
  }

  .subtitulo {
    font-size: 1.3rem;
    text-align: right;
    margin: 5px 10px 0;
    color: #7a1fa1;
    font-weight: 400;
  }

  .messagesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .msgInBox,
  .msgOutBox {
    width: 512px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }

  .msgInTitle {
    display: block;
    color: #7a1fa1;
    text-align: center;
    margin: 40px auto 10px;
    font-size: 28px;
    font-weight: 400;
  }

  #msgIn,
  #msgOut {
    resize: none;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 20px;
    width: 90%;
    height: 20vh;
    font-size: 35px;
    color: #7a1fa1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #msgOut {
    display: none;
  }

  .noMsg {
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    height: 20vh;
    font-size: 35px;
    color: #7a1fa1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .noMsg img {
    display: none;
    width: 21vw;
    margin: 2vw auto;
  }

  .noMsgTitle {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin: 2vw 0;
  }

  .noMsgTxt {
    text-align: center;
    font-size: 21px;
  }

  .buttonsIn {
    flex-direction: column;
    margin: 10px 0;
    width: 512px;
  }

  .buttonBox {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
  }

  .buttonsIn p {
    text-align: center;
    color: #7a1fa1;
  }

  .encode,
  .decode,
  .clear,
  .copy {
    border: none;
    background-color: #7a1fa1;
    color: #fafaf3;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    padding: 0;
    margin-right: 20px;
    transition: 1s all;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .buttonsOut {
    flex-direction: column;
    margin: 10px 0;
    width: 512px;
  }

  .buttonBoxCopy {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
  }

  .copy:hover,
  .encode:hover,
  .decode:hover,
  .clear:hover {
    background-color: #ea7af4;
  }

  .buttonBoxCopy .copyTxt {
    font-size: 14px;
    font-weight: 100;
    visibility: hidden;
    width: 140px;
    background-color: #7a1fa1;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .buttonBoxCopy .copyTxt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #7a1fa1 transparent transparent transparent;
  }

  .buttonBoxCopy:hover .copyTxt {
    visibility: visible;
    opacity: 1;
  }

  footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    color: #7a1fa1;
  }

  .logosFooter {
    height: 25px;
    width: 25px;
  }
}
/* resolução maior que 1024 */
@media screen and (min-width: 1024px) {
  .titulo {
    width: 360px;
    margin: 20px auto;
    text-shadow: 0 0 10px rgb(234, 122, 244, 0.3);
  }

  header h1 {
    font-size: 48.5px;
    font-weight: 900;
    color: #7a1fa1;
  }

  .subtitulo {
    font-size: 1rem;
    text-align: right;
    margin: 5px 5px 0;
    color: #7a1fa1;
    font-weight: 400;
  }

  .messagesBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .msgInBox {
    margin: 10vh 0 0 2vw;
  }

  .msgInTitle {
    margin: 0 0 0 30px;
    color: #7a1fa1;
    font-size: 21px;
    font-weight: 400;
  }

  #msgIn {
    resize: none;
    border-radius: 20px;
    border: none;
    outline: none;
    margin: 15px 0 0;
    padding: 20px;
    width: 50vw;
    height: 35vh;
    font-size: 21px;
    color: #7a1fa1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .msgOutBox {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #msgOut {
    display: none;
    resize: none;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-right: 2vw;
    padding: 20px;
    width: 33vw;
    height: 65vh;
    font-size: 21px;
    color: #7a1fa1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .noMsg {
    border-radius: 20px;
    margin-right: 2vw;
    padding: 20px;
    width: 33vw;
    height: 65vh;
    font-size: 21px;
    color: #7a1fa1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .noMsg img {
    display: block;
    width: 21vw;
    margin: 2vw auto;
  }

  .noMsgTitle {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin: 2vw 0;
  }

  .noMsgTxt {
    text-align: center;
    font-size: 21px;
  }

  .buttonsIn {
    margin: 20px 0 0 0px;
  }

  .buttonsIn p {
    text-align: left;
    color: #7a1fa1;
    margin: 10px 0 10px 5px;
  }

  .buttonsOut {
    display: flex;
    justify-content: flex-end;
    margin: 20px 1.5vw 0 0px;
  }

  .encode,
  .decode,
  .clear,
  .copy {
    border: none;
    background-color: #7a1fa1;
    color: #fafaf3;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    width: 180px;
    height: 50px;
    margin-right: 0.5vw;
    transition: 1s all;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .clear,
  .copy {
    width: 150px;
  }

  .copy:hover,
  .encode:hover,
  .decode:hover,
  .clear:hover {
    background-color: #ea7af4;
    transform: scale(1.03);
  }

  /* .buttonBoxCopy {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 200px;
    margin: 10px auto;
  } */

  .buttonBoxCopy .copyTxt {
    font-size: 14px;
    font-weight: 100;
    visibility: hidden;
    width: 140px;
    background-color: #7a1fa1;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .buttonBoxCopy .copyTxt::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #7a1fa1 transparent transparent transparent;
  }

  .buttonBoxCopy:hover .copyTxt {
    visibility: visible;
    opacity: 1;
  }

  footer {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    color: #7a1fa1;
    position: absolute;
    bottom: 10px;
    left: 30px;
  }

  .logosFooter {
    height: 25px;
    width: 25px;
  }
}
