body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: #FAFAF3;
}


/* resolução MENOR que 512 */ @media screen and (max-width: 511px) {

   .titulo {
      width: 300px;
      margin: 20px auto;
      text-shadow: 0 0 10px rgb(234, 122, 244, 0.3);
   }

   header h1 {
      font-size: 40.5px;
      font-weight: 900;
      color: #7A1FA1;
   }

   .subtitulo {
      font-size: 1.2rem;
      text-align: right;
      margin: 5px 5px 0;
      color: #7A1FA1;
      font-weight: 400;
   }

   .msgInBox, .msgOutBox {
      width: 85vw;
      display:block;
      margin: 10px auto;
   }

   .msgInTitle {
      display: block;
      color: #7A1FA1;
      text-align: center;
      margin: 40px auto 10px;
      font-size: 28px;
      font-weight: 400;
   }

   #msgIn, #msgOut {
      display: block;
      resize: none;
      border-radius: 20px;
      border: none;
      outline: none;
      outline: pink;
      margin: 15px auto;
      padding: 20px;
      width: 90%;
      height: 20vh;
      font-size: 35px;
      color: #7A1FA1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   }

   #msgOut {
      display: none;
   }

   .noMsg {
      display: block;
      border-radius: 20px;
      margin: 15px auto;
      padding: 20px;
      width: 90%;
      height: 20vh;
      font-size: 35px;
      color: #7A1FA1;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

   }

   .noMsg img {
      display: none;
      width: 21vw;
      margin: 2vw auto;
   }

   .noMsgTitle {
      text-align: center;
      font-size: 25px;
      font-weight: 400;
      margin: 2vw 0;
   }

   .noMsgTxt {
      text-align: center;
      font-size: 21px;
      
   }

   .buttons {
      display: block;
      margin: 10px 0;
   }

   .buttonBox {
      width: 85vw;
      margin: 10px auto;
   }

   .buttons p {
      text-align: center;
      color: #7A1FA1;
      margin: 10px auto 0 auto;
   }

   .encode, .decode {
      border: none;
      background-color: #7A1FA1;
      color: #FAFAF3;
      font-size: 21px;
      font-weight: bold;
      border-radius: 15px;
      width: 42vw;
      height: 50px;
      padding: 0;
      margin-right: 0.5vw;
      margin: 10px auto;
      transition: 1s all;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   }

   .buttonBoxCopy {
      width: 252px;
      margin: 10px auto;
   }
   .copy {
      border: none;
      background-color: #7A1FA1;
      color: #FAFAF3;
      font-size: 25px;
      font-weight: bold;
      border-radius: 15px;
      width: 252px;
      height: 50px;
      padding: 0;
      margin-right: 0.5vw;
      margin: 10px auto;
      transition: 1s all;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   }

   .copy:hover, .encode:hover, .decode:hover  {
      background-color: #ea7af4;
      
   }  

   .buttonBoxCopy .copyTxt {
      font-size: 14px;
      font-weight: 100;
      visibility: hidden;
      width: 140px;
      background-color: #7A1FA1;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -75px;
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    .buttonBoxCopy .copyTxt::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #7A1FA1 transparent transparent transparent;
    }
    
    .buttonBoxCopy:hover .copyTxt {
      visibility: visible;
      opacity: 1;
    }

   footer p {
      color: #7A1FA1;
      text-align: center;

   }

}
/* resolução entre 512 e 1024 */@media screen and (min-width: 512px) and (max-width: 1023px) {
 
   .titulo {
      width: 460px;
      margin: 20px auto;
      text-shadow: 0 0 10px rgb(234, 122, 244, 0.3);
   }

   header h1 {
      text-align: center;
      font-size: 60px;
      font-weight: 900;
      color: #7A1FA1;
  }
  
   .subtitulo {
      font-size: 1.3rem;
      text-align: right;
      margin: 5px 10px 0;
      color: #7A1FA1;
      font-weight: 400;
   }



   .msgInBox, .msgOutBox {
      width: 85vw;
      display:block;
      margin: 10px auto;
   }

   .msgInTitle {
      display: block;
      color: #7A1FA1;
      text-align: center;
      margin: 40px auto 10px;
      font-size: 28px;
      font-weight: 400;
   }
   
   #msgIn, #msgOut {
      display: block;
      resize: none;
      border-radius: 20px;
      border: none;
      outline: none;
      margin: 15px auto;
      padding: 20px;
      width: 90%;
      height: 20vh;
      font-size: 35px;
      color: #7A1FA1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   }

   #msgOut {
      display: none;
   }

   .noMsg {
      display: block;
      border-radius: 20px;
      margin: 15px auto;
      padding: 20px;
      width: 90%;
      height: 20vh;
      font-size: 35px;
      color: #7A1FA1;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

   }

   .noMsg img {
      display: none;
      width: 21vw;
      margin: 2vw auto;
   }

   .noMsgTitle {
      text-align: center;
      font-size: 25px;
      font-weight: 400;
      margin: 2vw 0;
   }

   .noMsgTxt {
      text-align: center;
      font-size: 21px;
      
   }

   .buttons {
      display: block;
      margin: 10px 0;
   }

   .buttonBox {
      width: 512px;
      margin: 10px auto;
   }

   .buttons p {
      text-align: center;
      margin: 10px auto 0 auto;
      color: #7A1FA1;
   }

   .encode, .decode, .copy {
      border: none;
      background-color: #7A1FA1;
      color: #FAFAF3;
      font-size: 25px;
      font-weight: bold;
      border-radius: 15px;
      width: 252px;
      height: 50px;
      padding: 0;
      margin-right: 0.5vw;
      margin: 10px auto;
      transition: 1s all;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   }

   .buttonBoxCopy {
      width: 252px;
      margin: 10px auto;
   }

   .copy:hover, .encode:hover, .decode:hover  {
      background-color: #ea7af4;
      
   } 

   .buttonBoxCopy .copyTxt {
      font-size: 14px;
      font-weight: 100;
      visibility: hidden;
      width: 140px;
      background-color: #7A1FA1;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -75px;
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    .buttonBoxCopy .copyTxt::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #7A1FA1 transparent transparent transparent;
    }
    
    .buttonBoxCopy:hover .copyTxt {
      visibility: visible;
      opacity: 1;
    }

   footer p {
      color: #7A1FA1;
      text-align: center;

   }
}
 /* resolução maior que 1024 */  @media screen and (min-width: 1024px) {

   .titulo {
      width: 360px;
      margin: 20px auto;
      text-shadow: 0 0 10px rgb(234, 122, 244, 0.3);
  }

   header h1 {
      font-size: 48.5px;
      font-weight: 900;
      color: #7A1FA1;
  }
  
   .subtitulo {
      font-size: 1rem;
      text-align: right;
      margin: 5px 5px 0;
      color: #7A1FA1;
      font-weight: 400;
   }
  


   .msgInBox {
      display: block;
      margin: 13vh 0 0 2vw;
   }
   .msgInTitle {
      margin: 0 0 0 30px;
      color: #7A1FA1;
      font-size: 21px;
      font-weight: 400;
   }
   
   #msgIn {
      display: block;
      resize: none;
      border-radius: 20px;
      border: none;
      outline: none;
      margin: 15px 0 0;
      padding: 20px;
      width: 50vw;
      height: 35vh;
      font-size: 21px;
      color: #7A1FA1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   }
  
   .msgOutBox {
      display: inline-block;
      margin: 10px auto;
      position: absolute;
      top: 100px;
      right: 20px;
   }
  
   #msgOut {
     display: none;
     resize: none;
     border-radius: 20px;
     border: none;
     outline: none;
     margin-right: 3vw;
     padding: 20px;
     width: 33vw;
     height: 65vmin;
     font-size: 21px;
     color: #7A1FA1;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   }

   .noMsg {
      display: block;
      border-radius: 20px;
      margin-right: 3vw;
      padding: 20px;
      width: 33vw;
      height: 65vmin;
      font-size: 21px;
      color: #7A1FA1;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

   }

   .noMsg img {
      display: block;
      width: 21vw;
      margin: 2vw auto;
   }

   .noMsgTitle {
      text-align: center;
      font-size: 25px;
      font-weight: 400;
      margin: 2vw 0;
   }

   .noMsgTxt {
      text-align: center;
      font-size: 21px;
      
   }
  
   .buttons {
     margin: 35px 0 0 2vw;
   }
  
   .buttons p {
     text-align: left;
     color: #7A1FA1;
     margin: 10px 0 10px 5px;
   }

   .encode {
     border: none;
     background-color: #7A1FA1;
     color: #FAFAF3;
     font-size: 25px;
     font-weight: bold;
     border-radius: 15px;
     width: 165px;
     height: 7vh;
     padding: 0;
     margin-right: 0.5vw;
     transition: 1s all;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   }

   .decode {
      border: none;
      background-color: #7A1FA1;
      color: #FAFAF3;
      font-size: 25px;
      font-weight: bold;
      border-radius: 15px;
      width: 200px;
      height: 7vh;
      padding: 0;
      margin-right: 0.5vw;
      transition: 1s all;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   }

   .copy {
      border: none;
      background-color: #7A1FA1;
      color: #FAFAF3;
      font-size: 25px;
      font-weight: bold;
      border-radius: 15px;
      width: 150px;
      height: 7vh;
      padding: 0;
      margin-right: 0.5vw;
      transition: 1s all;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   }

   .copy:hover, .encode:hover, .decode:hover  {
      background-color: #ea7af4;
      transform: scale(1.1);
   }  

   .buttonBoxCopy {
      position: absolute;
      right: 20px;
      bottom: 10px;
      width: 200px;
      margin: 10px auto;
   }
    
    .buttonBoxCopy .copyTxt {
      font-size: 14px;
      font-weight: 100;
      visibility: hidden;
      width: 140px;
      background-color: #7A1FA1;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -75px;
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    .buttonBoxCopy .copyTxt::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #7A1FA1 transparent transparent transparent;
    }
    
    .buttonBoxCopy:hover .copyTxt {
      visibility: visible;
      opacity: 1;
    }

   footer p {
      color: #7A1FA1;
      position: absolute;
      bottom: 10px;
      left: 30px;
   }
 }